---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - notification.miloapis.com
  resources:
  - contactgroupmemberships
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - notification.miloapis.com
  resources:
  - contactgroupmemberships/finalizers
  - contacts/finalizers
  verbs:
  - update
- apiGroups:
  - notification.miloapis.com
  resources:
  - contactgroupmemberships/status
  - contacts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - notification.miloapis.com
  resources:
  - contacts
  verbs:
  - get
  - list
  - watch
